<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!--  闹钟提醒功能权限 ，用户手动开启-->
    <!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />-->

    <!--    主要用于核心闹钟应用、日历应用等真正需要精确计时的应用-->
    <!--  核心计时应用 ，自动授予(需符合条件)，但严格审查 -->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.USE_EXACT_ALARM"-->
    <!--        tools:ignore="ExactAlarmPolicy" />-->

    <!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->


    <application
        android:name=".ScheBcApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallpaperTheme">
        <!--        <activity-->
        <!--            android:name="com.sphara.slide.wallpaper.papilmos.PapilMos"-->
        <!--            android:exported="false"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/Theme.WallpaperTheme" />-->
        <activity
            android:name="com.sphara.slide.wallpaper.chowamr.ChoWamr"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WallpaperTheme" />
        <activity
            android:name="com.sphara.slide.wallpaper.patycate.PatyCate"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WallpaperTheme" />
        <activity
            android:name="com.sphara.slide.wallpaper.mazdkan.MazdKan"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WallpaperTheme" />
        <activity
            android:name="com.sphara.slide.wallpaper.tadycib.TadyCib"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WallpaperTheme" />
        <activity
            android:name="com.sphara.slide.wallpaper.suntanvar.SuntanVar"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WallpaperTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".cureppate.CurepPate"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WallpaperTheme" />
        <activity
            android:name=".meancrsis.MeanCrsis"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WallpaperTheme"
            android:windowSoftInputMode="adjustNothing" />

        <!--  bigo start   -->
        <activity
            android:name="sg.bigo.ads.ad.splash.AdSplashActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme" />

        <activity
            android:name="sg.bigo.ads.ad.splash.LandscapeAdSplashActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme" />

        <activity
            android:name="sg.bigo.ads.controller.form.AdFormActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="sg.bigo.ads.api.AdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.PopupAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentDialog"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="sg.bigo.ads.api.LandingStyleableActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.CompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeCompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.core.mraid.MraidVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name="com.sphara.slide.wallpaper.suntanvar.SunIGoMeA"/>

        <activity-alias
            android:name="com.wallpaper.art.Bloom"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.sphara.slide.wallpaper.suntanvar.SuntanVar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.sphara.slide.wallpaper.androidx-startup"
            android:exported="true"
            tools:replace="android:exported">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true" />
        </provider>

    </application>

</manifest>