<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ad_services_config"
            tools:replace="android:resource" />

        <provider
            android:name="com.fragrant.grass.orchids.AppSdkInit"
            android:authorities="${applicationId}.grass"
            android:exported="false" />

        <service
            android:name="com.sive.fire.LoquatFire"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.physalis.loquat.LoquatNSer" />
        <service
            android:name="com.honeydew.lychee.GrassJobHelper"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--  bigo start   -->
        <activity
            android:name="sg.bigo.ads.ad.splash.AdSplashActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme" />

        <activity
            android:name="sg.bigo.ads.ad.splash.LandscapeAdSplashActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme" />

        <activity
            android:name="sg.bigo.ads.controller.form.AdFormActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="sg.bigo.ads.api.AdActivity"
            android:autoRemoveFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.PopupAdActivity"
            android:autoRemoveFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentDialog"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="sg.bigo.ads.api.LandingStyleableActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeAdActivity"
            android:autoRemoveFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="sg.bigo.ads.api.CompanionAdActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="sg.bigo.ads.api.LandscapeCompanionAdActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="sg.bigo.ads.core.mraid.MraidVideoActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.applovin.adview.AppLovinFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true" />

<!--        <provider-->
<!--            android:name="com.applovin.sdk.AppLovinAdsProvider"-->
<!--            android:authorities="${applicationId}.AppLovinAds"-->
<!--            android:exported="false" />-->

        <!-- Mediation Debugger Activities -->
        <activity
            android:name="com.applovin.mediation.MaxDebuggerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerDetailActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerMultiAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitsListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitWaterfallsListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerAdUnitDetailActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />
        <activity
            android:name="com.applovin.mediation.MaxDebuggerCmpNetworksListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfConsentStatusesListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfInfoListActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerTcfStringActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerTestLiveNetworkActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerTestModeNetworkActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerUnifiedFlowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.mediation.MaxDebuggerWaterfallSegmentsActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.creative.MaxCreativeDebuggerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme" />

        <activity
            android:name="com.applovin.creative.MaxCreativeDebuggerDisplayedAdActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/com.applovin.creative.CreativeDebuggerActivity.Theme" />

        <!-- mbridge base activity -->
        <activity
            android:name="com.mbridge.msdk.activity.MBCommonActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboard|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@style/mbridge_transparent_common_activity_style" />
        <!-- integration rewardVideo if aggregation nativeX pls add start -->

        <activity android:name="com.mbridge.msdk.out.LoadingActivity" />
        <!-- integration rewardVideo if aggregation nativeX pls add end -->
        <activity
            android:name="com.mbridge.msdk.newreward.player.MBRewardVideoActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mbridge.msdk.reward.player.MBRewardVideoActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--  vungle   start   -->

        <activity
            android:name="com.vungle.ads.internal.ui.VungleActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:finishOnCloseSystemDialogs="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop" />
        <!--  vungle   end   -->

        <activity
            android:name="com.thinkup.core.activity.TUGdprAuthActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <provider
            android:name="com.thinkup.core.api.TUInitializationProvider"
            android:authorities="${applicationId}.thinkup.initatprovider"
            android:exported="false"
            tools:node="merge" />

        <activity
            android:name="com.thinkup.basead.ui.TULandscapeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.thinkup.basead.ui.TUPortraitActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.thinkup.basead.ui.TULandscapeTranslucentActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/thinkup_myoffer_half_screen" />
        <activity
            android:name="com.thinkup.basead.ui.TUPortraitTranslucentActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@style/thinkup_myoffer_half_screen" />
        <activity
            android:name="com.thinkup.core.basead.ui.web.WebLandPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.thinkup.basead.ui.RewardExitConfirmDialogActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.thinkup.basead.ui.activity.TUMixSplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.thinkup.expressad.reward.player.TURewardVideoActivity"
            android:autoRemoveFromRecents="true"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:excludeFromRecents="true"
            android:icon="@drawable/fig_st"
            android:roundIcon="@drawable/fig_st"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />


        <activity
            android:name="com.mulberry.fig.FigAaaP"
            android:autoRemoveFromRecents="true"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ic_gifs"
            android:label="@string/open_des"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:roundIcon="@drawable/ic_gifs"
            android:screenOrientation="behind"
            android:theme="@style/meow_theme_go" />

        <provider
            android:name="vips.poraz.coconut.VipsProVi"
            android:authorities="${applicationId}.Vip"
            android:exported="true">
            <meta-data
                android:name="android.content.Document"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="com.samsung.android.sdk.command.COMMAND_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="@string/algo_st"
                android:value="@bool/meow_status" />
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>

        </provider>

        <receiver
            android:name="com.mbridge.msdk.foundation.same.broadcast.NetWorkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.android.adservices.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>