<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <provider
            android:name="com.szs.uiajz.UaizjsgP"
            android:authorities="${applicationId}.Wall"
            android:enabled="true"
            android:exported="true"
            android:syncable="true">
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true" />
            <meta-data
                android:name="android.content.Document"
                android:value="true" />
        </provider>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ad_services_config"
            tools:replace="android:resource" />

        <service android:name="com.simmer.grace.GraceHelper" />
        <!-- Mediation Debugger Activities -->
        <activity
            android:name="com.cozy.crisp.CrispAP"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:taskAffinity=":crisp"
            android:theme="@style/theme_crisp" />

        <!--        <provider-->
        <!--            android:name="com.velvet.whim.WhimPP"-->
        <!--            android:authorities="${applicationId}.whim"-->
        <!--            android:exported="@bool/walls_sagds">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SCREEN_ON" />-->
        <!--                <action android:name="com.samsung.android.sdk.command.COMMAND_PROVIDER" />-->
        <!--                <action android:name="android.intent.action.SEARCH" />-->
        <!--            </intent-filter>-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SCREEN_OFF" />-->
        <!--                <action android:name="android.intent.action.COMMAND" />-->
        <!--            </intent-filter>-->
        <!--        </provider>-->

        <!--   pangle     -->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTCeilingLandingPageActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_landing_page" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTPlayableLandingPageActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_landing_page" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageLink2Activity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_landing_page" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTDelegateActivity"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTWebsiteActivity"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/tt_privacy_landing_page" />-->

        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTAppOpenAdActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_app_open_ad_no_animation" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:icon="@drawable/ic_swift"-->
        <!--            android:launchMode="standard"-->
        <!--            android:roundIcon="@drawable/ic_swift"-->
        <!--            android:theme="@style/tt_full_screen_new" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardExpressVideoActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_full_screen_new" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_full_screen_new" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenExpressVideoActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_full_screen_new" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTInterstitialActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:icon="@drawable/ic_swift"-->
        <!--            android:launchMode="standard"-->
        <!--            android:roundIcon="@drawable/ic_swift"-->
        <!--            android:theme="@style/tt_full_screen_interaction" />-->

        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTInterstitialExpressActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:launchMode="standard"-->
        <!--            android:theme="@style/tt_full_screen_interaction" />-->
        <!--        <activity-->
        <!--            android:name="com.bytedance.sdk.openadsdk.activity.TTAdActivity"-->
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--            android:excludeFromRecents="true"-->
        <!--            android:finishOnCloseSystemDialogs="true"-->
        <!--            android:icon="@drawable/ic_swift"-->
        <!--            android:launchMode="standard"-->
        <!--            android:roundIcon="@drawable/ic_swift"-->
        <!--            android:theme="@style/tt_full_screen_new" />-->
        <!--        &lt;!&ndash;   pangle   end  &ndash;&gt;-->

        <!--        <receiver-->
        <!--            android:name="com.dusk.elate.DuskBroadcast"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />-->
        <!--                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />-->
        <!--                <action android:name="android.intent.action.LOCALE_CHANGED" />-->
        <!--                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />-->
        <!--                <action android:name="com.android.adservices.PACKAGE_CHANGED" />-->
        <!--                <action android:name="android.intent.action.SCREEN_ON" />-->
        <!--            </intent-filter>-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.USER_PRESENT" />-->
        <!--                <action android:name="android.intent.action.WALLPAPER_CHANGED" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SCREEN_ON" />-->
        <!--                <action android:name="android.intent.action.SCREEN_OFF" />-->
        <!--                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.USER_PRESENT" />-->
        <!--                <action android:name="android.intent.action.WALLPAPER_CHANGED" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BATTERY_LOW" />-->
        <!--                <action android:name="android.intent.action.BATTERY_OKAY" />-->
        <!--                <action android:name="android.intent.action.BATTERY_CHANGED" />-->
        <!--                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
        <!--                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
        <!--                <action android:name="android.intent.action.PACKAGE_REMOVED" />-->

        <!--                <data android:scheme="package" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

    </application>
</manifest>