<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.greet.unfoldgs.Hphkta0Activity"/>
        <activity android:name="com.greet.unfoldgs.Fxqqnb1Activity"/>
        <activity android:name="com.greet.unfoldgs.Fytftc2Activity"/>
        <activity android:name="com.greet.unfold7l.Fbjyxa0Activity"/>
        <activity android:name="com.greet.unfold7l.Usnvub1Activity"/>
        <activity android:name="com.greet.unfold7l.Zmootc2Activity"/>
        <activity android:name="com.greet.unfoldq9.Kqskba0Activity"/>
        <activity android:name="com.greet.unfoldq9.Aoktfb1Activity"/>
        <activity android:name="com.greet.unfoldq9.Iinklc2Activity"/>
        <activity android:name="com.greet.unfoldzy.Fyztga0Activity"/>
        <activity android:name="com.greet.unfoldzy.Wnzahb1Activity"/>
        <activity android:name="com.greet.unfoldzy.Lfasgc2Activity"/>
        <activity android:name="com.greet.unfoldkx.Gwrrsa0Activity"/>
        <activity android:name="com.greet.unfoldkx.Sjraxb1Activity"/>
        <activity android:name="com.greet.unfoldkx.Itaogc2Activity"/>
        <activity android:name="com.greet.unfoldft.Kyugxa0Activity"/>
        <activity android:name="com.greet.unfoldft.Nlvjdb1Activity"/>
        <activity android:name="com.greet.unfoldft.Cptiyc2Activity"/>
    </application>
</manifest>